@font-face {
  font-family: GardenLife;
  src: url("../fonts/GardenLife-Regular.otf");
}
@font-face {
  font-family: GardenLifeFill;
  src: url("../fonts/GardenLifeFill-Regular.otf");
}
@font-face {
  font-family: JoeHand;
  src: url("../fonts/JoeHand-Regular.woff");
}
html{
  height: 100%;
}
body {
  margin: 0;
  background-color: #B1D4AA;
  height: 100%;
}
h1 {
  display: block;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: 'GardenLifeFill', cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 6em;
  text-align: center;
  color: #B1D4AA;
  margin: 0;
  padding: 0;
}
h1::after{
  content: attr(text);
  white-space: nowrap;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-weight: normal;
  font-style: normal;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'GardenLife', cursive;
  color: SaddleBrown;
}
p {
  font-family: 'JoeHand', sans-serif;
  margin:0;
  text-align: center;
}
header {
  display: block;
  margin-bottom: 8em;
  padding: 0;
  width: 100%;
}
main {
  margin: 0;
  padding: 0;
  width: 100%;
}
div.container {
  background-color: Cornsilk;
  max-width: 900px;
  height: calc(100vh - 100px) ;
  padding: 50px 25px;
  margin: auto;
}
